/* font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
/* end font */

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: #f8fafc;
  background-color: #000000f0;
}

.verifed {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#verifed {
  margin-left: 3px;
  margin-top: -25px;
}

#verifed img {
  height: 18px;
  width: auto;
}

/* cari musik */
.search-container {
  margin: 15px;
  display: flex;
  align-items: center;
}

input {
  color: white;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
}

input:focus {
  color: #22c55e;
  border: 2px solid #22c55e;
}

.search-input {
  height: 30px;
  flex-grow: 1; /* Input akan mengisi sisa ruang yang tersedia */
  padding: 8px;
  border: 2px solid rgb(52, 52, 52);
  background-color: rgb(52, 52, 52);
  border-radius: 5px;
}

.search-button {
  height: 50px;
  background-color: rgb(52, 52, 52);
  border: none;
  padding: 8px 20px 8px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.search-button:hover {
  box-shadow: rgba(190, 190, 190, 0.35) 1px 1px 10px;
  background-color: #22c55e;
  color: black;
}

.search-button img {
  width: 20px;
  height: 20px;
}

.playlist {
  margin: 15px;
}

/* judul kategori */
.judul-kategori {
  margin: 15px;
}

.judul-kategori p {
  font-size: 20px;
  font-weight: 500;
}

/* reques kategori */
.kategori {
  display: flex;
  overflow-x: auto;
  margin: 15px;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(6px); /* Posisi awal */
  }
  100% {
    transform: translateX(-257%); /* Bergeser ke kiri */
  }
}
.kategori button {
  flex: 0 0 auto; /* Flex items tidak fleksibel, tetap tetap pada lebar aslinya */
  white-space: nowrap; /* Mencegah teks pindah baris */
  padding: 8px 12px; /* Atur padding sesuai kebutuhan */
  margin-right: 10px;
  margin-bottom: 15px;
  min-width: 120px; /* Tetapkan nilai min-width */
  animation: scrollLeft 10s linear infinite alternate; /* Animasi bergeser ke kiri */
}



#semua {
  padding: 10px;
  background-color: rgb(52, 52, 52);
  color: white;
  font-weight: bold;
}

#semua:hover {
  box-shadow: rgba(190, 190, 190, 0.35) 1px 1px 10px;
  background-color: #22c55e;
  color: black;
}


#indri {
  padding: 10px;
  background-color: rgb(52, 52, 52);
  color: white;
  font-weight: bold;
}

#indri:hover {
  box-shadow: rgba(190, 190, 190, 0.35) 1px 1px 10px;
  background-color: #22c55e;
  color: black;
}

#arya {
  padding: 10px;
  background-color: rgb(52, 52, 52);
  color: white;
  font-weight: bold;
}


#arya:hover {
  box-shadow: rgba(190, 190, 190, 0.35) 1px 1px 10px;
  background-color: #22c55e;
  color: black;
}

#jkt48 {
  padding: 10px;
  background-color: rgb(52, 52, 52);
  color: white;
  font-weight: bold;
}


#jkt48:hover {
  box-shadow: rgba(190, 190, 190, 0.35) 1px 1px 10px;
  background-color: #22c55e;
  color: black;
}

#masdo {
  padding: 10px;
  background-color: rgb(52, 52, 52);
  color: white;
  font-weight: bold;
}


#masdo:hover {
  box-shadow: rgba(190, 190, 190, 0.35) 1px 1px 10px;
  background-color: #22c55e;
  color: black;
}

#deni-caknan {
  padding: 10px;
  background-color: rgb(52, 52, 52);
  color: white;
  font-weight: bold;
}


#deni-caknan:hover {
  box-shadow: rgba(190, 190, 190, 0.35) 1px 1px 10px;
  background-color: #22c55e;
  color: black;
}

/* bg musik */
.musik {
  height: 100%;
  width: auto;
  padding: 20px;
  border-radius: 35px;
  margin-bottom: 15px;
  background-color: rgb(52, 52, 52);
  box-shadow: rgba(0, 0, 0, 0.655) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

/* profil musik */
.profil-musik img {
  position: absolute;
  z-index: 1; /* Atur nilai z-index yang lebih tinggi */
  height: 100px;
}

#proffil {
  z-index: 1; /* Atur kedalaman tampilan lebih tinggi dari gambar piringan hitam */
}

#piringan-hitam {
  margin-left: -25px;
  z-index: 0;
  transition: transform 0.5s ease, margin-left 0.5s ease; /* Menambahkan transisi mulus untuk transformasi rotasi dan margin kiri */
}

/* nama musik */
.nama-musik {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 100px;
  margin-bottom: 20px;
}

.nama-musik a {
  text-decoration: none;
  color: #f8fafc;
}

.pencipta-musik p {
  margin-top: -15px;
  color: #f8fafc7f;
}

.nama-musik img {
  height: 35px;
}

/* icon play musik */
.play-musik {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* tombol play and pause and lirik*/
#showLirik img {
  padding: 5px;
  height: 30px;
  width: auto;
}

/* seek bar */
.progress-container {
  position: relative;
  width: 100%;
  height: 5px;
  background-color: #f0f0f03d;
  border-radius: 10px;
  margin-bottom: 35px;
}

.progress-duration-left,
.progress-duration-right {
  position: absolute;
  top: 0;
  font-size: 12px;
  line-height: 50px;
  padding: 0 10px;
  z-index: 1;
  color: #f8fafc;
}

.progress-duration-left {
  left: 0;
}

.progress-duration-right {
  right: 0;
}

.progress-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #4caf50;
  width: 0%;
  border-radius: 10px;
}

.progress-indicator {
  margin-top: -3px;
  margin-left: -1px;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #000000;
  z-index: 2;
}

/* button musik */
button {
  border-radius: 10px;
  background-color: transparent;
  border: none;
  transition: background-color 0.3s ease; /* Menambahkan transisi untuk perubahan warna latar belakang selama 0.3 detik dengan efek yang mudah */
}

button:hover {
  background-color: rgba(255, 255, 255, 0.063);
}

.play-musik img {
  height: 55px;
  width: auto;
}
